.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
archive/
power_analysis_cache/
analysis_preregistered_cache/
site_libs/.DS_Store
analyses_cache/
*_cache/
analyses_words*
data/
!data/data.csv
!data/data_simulated.csv
/.quarto/
lyses.html
